python3 -m venv LibraryManagementSystem
source LibraryManagementSystem/bin/activate
install Flask 
install flask-cors
install flasgger
install pyyaml
install flask-login
install flask-sqlalchemy
install pymysql
sudo apt update 
sudo apt install mysql-server  
sudo mysql_secure_installation 
sudo service mysql start 
mysql -u root -p 
install sqlalchemy
install mysqlclient 
'mysql+mysqldb://user:2024@Github@localhost/LMS'

 
